

/*  Bootstrap Modifications
---------------------------------*/


/*  Bootstrap container styles
---------------------------------*/

@media (min-width: 768px) {
    .container-fluid-small {
        width: 300px;
    }
    .container-fluid-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-fluid-small {
        width: 500px;
    }
    .container-fluid-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-fluid-small {
        width: 700px;
    }
    .container-fluid-large {
        width: 1500px;
    }
}

.container-fluid {
	position: relative; left: 200px; 
}

@media screen and (max-width: 768px) {
	.container-fluid {
	left: 0; 
}	
}
/* Nav Sidebar Styles
----------------------------*/

.nav-sidebar nav {
	position: fixed;

	top: 0px;
	left: 0px;
	width: 200px;
	height: 100%;

	background-color: #f8f8f8;

	border: 1px solid #e7e7e7;
}

.nav-sidebar nav a {
	display: block;
	padding: 20px 30px;

	font-weight: bold;


}

.nav-sidebar nav a:hover {
	text-decoration: none;
	background-color: #c7c7c7;
}

.nav-sidebar nav a:active {
	text-decoration: none;
}



/* Main Navigation Styles
----------------------------*/

.main-navigation {
	position: fixed;
	height: 60px;
	
}

.main-navigation nav {
	
	display: inline-block;
	height: 60px;
	width: 100%;
}

.main-navigation nav a {
	position: relative;
	display: inline-block;
	height: 60px;
	padding: 0px 10px;
	line-height: 60px;
	margin: 0;
}

.main-navigation nav img {
	height: 38px;
	width: 48px;
} 

.main-navigation nav a:hover {
	text-decoration: none;
	background-color: #c7c7c7;
} 

.main-navigation nav a {
	font-size: 1.5rem;
}